<div id="credits">
  <span class="title">Media:</span>
  <mat-list>
    <a mat-list-item href="https://material.io/resources/icons"
      >https://material.io/resources/icons</a
    >
    <a
      mat-list-item
      href="https://www.pexels.com/video/a-group-of-people-busy-typing-on-their-laptop-keyboards-3192362/"
    >
      https://www.pexels.com/video/a-group-of-people-busy-typing-on-their-laptop-keyboards-3192362/
    </a>
    <a mat-list-item href="https://www.flaticon.com"
      >https://www.flaticon.com</a
    >
    <a mat-list-item href="https://www.flaticon.com/authors/kiranshastry"
      >Kiranshastry</a
    >
    <a mat-list-item href="https://latextemplates.com/template/plain-cover-letter"
      >Rensselaer Polytechnic Institute</a
    >
    <a mat-list-item href="https://latextemplates.com/template/academic-title-page"
      >WikiBooks, Vel</a
    >
  </mat-list>
  <mat-divider></mat-divider>
  <span class="title">Code:</span>
  <mat-list>
    <a mat-list-item href="https://stackoverflow.com"
      >https://stackoverflow.com/</a
    >
    <a
      mat-list-item
      href="https://www.sitepoint.com/user-authentication-mean-stack/"
      >https://www.sitepoint.com/user-authentication-mean-stack/</a
    >
    <a
      mat-list-item
      href="https://jasonwatmore.com/post/2019/05/17/angular-7-tutorial-part-4-login-form-authentication-service-route-guard"
    >
      https://jasonwatmore.com/post/2019/05/17/angular-7-tutorial-part-4-login-form-authentication-service-route-guard
    </a>
    <a mat-list-item href="https://codepen.io/aakhya/pen/wQWZXV"
      >https://codepen.io/aakhya/pen/wQWZXV</a
    >
    <a mat-list-item href="https://material.angular.io/"
      >https://material.angular.io/</a
    >

    <a mat-list-item href="https://codepen.io/gxash/pen/rrJYwm"
      >https://codepen.io/gxash/pen/rrJYwm</a
    >
  </mat-list>
</div>
