<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div id="file-list-header">
      <span id="title" [matTooltip]="projectTitle" matTooltipPosition="right">{{
        projectTitle | truncate: 15
      }}</span>

      <button
        (click)="openUploadFilesDialog()"
        mat-icon-button
        matTooltip="Upload Files"
        matTooltipPosition="below"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <div>
      <mat-list>
        <mat-list-item
          *ngFor="let displayFile of displayFiles; trackBy: trackFile"
        >
          <div class="file-container">
            <div>
              <mat-icon *ngIf="displayFile.isImage">photo</mat-icon>
              <mat-icon *ngIf="!displayFile.isImage && !displayFile.isMain"
                >insert_drive_file</mat-icon
              >
              <mat-icon
                *ngIf="displayFile.isMain"
                matTooltip="Main file to compile"
                matTooltipPosition="below"
                >flag</mat-icon
              >
              <span
                class="file-name"
                [matTooltip]="displayFile.fileName"
                matTooltipPosition="below"
              >
                {{ displayFile.fileName | truncate: 15 }}
              </span>
            </div>
            <div class="file-context-buttons">
              <button
                *ngIf="!displayFile.isMain && displayFile.canMain"
                (click)="markAsMain(displayFile._id)"
                mat-icon-button
                matTooltip="Mark as main file to compile"
                matTooltipPosition="below"
              >
                <mat-icon>flag</mat-icon>
              </button>
              <button
                (click)="editFileTitle(displayFile._id)"
                mat-icon-button
                matTooltip="Rename"
                matTooltipPosition="below"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="deleteFile(displayFile._id, displayFile.fileName)"
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="below"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider *ngIf="displayFiles.length > 0"></mat-divider>
      <div id="files-hint">
        {{
          displayFiles.length > 0
            ? "Hover over a file to rename or delete"
            : "Upload files to view them here"
        }}
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <div *ngIf="initialLoading" id="progress-spinner">
        <mat-progress-spinner
          mode="indeterminate"
          color="warn"
        ></mat-progress-spinner>
      </div>
      <ngx-codemirror
        *ngIf="!initialLoading && mainFile"
        #editor
        [(ngModel)]="latex"
        [options]="{
          lineNumbers: 'true',
          mode: 'stex',
          theme: 'material',
          lineWrapping: 'true',
          showCursorWhenSelecting: 'true'
        }"
        [autoFocus]="true"
      ></ngx-codemirror>
      <div id="editor-hint" *ngIf="!initialLoading && !mainFile">
        {{
          displayFiles.length > 0
            ? "Select a file as main to edit it here"
            : "Upload files to begin"
        }}
      </div>
      <div id="output-container">
        <div id="output-context-buttons">
          <div>
            <button (click)="compilePdf()" mat-flat-button color="accent">
              <mat-icon>cached</mat-icon>
              Compile
            </button>
            <mat-checkbox id="auto-compile-checkbox">Auto compile</mat-checkbox>
          </div>
          <button
            (click)="downloadOutputPdf()"
            mat-icon-button
            matTooltip="Download PDF"
            matTooltipPosition="below"
          >
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
        <ng2-pdfjs-viewer
          id="output-pdf"
          #pdfViewer
          [downloadFileName]="'output.pdf'"
          [openFile]="false"
          [viewBookmark]="false"
          [download]="false"
        ></ng2-pdfjs-viewer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
