<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div id="file-list-header">
      <span id="title" [matTooltip]="projectTitle" matTooltipPosition="right">{{
        projectTitle | truncate: 15
      }}</span>

      <button
        (click)="openUploadFilesDialog()"
        mat-icon-button
        matTooltip="Upload Files"
        matTooltipPosition="below"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <div>
      <mat-list>
        <mat-list-item
          *ngFor="let displayFile of displayFiles; trackBy: trackFile"
        >
          <div class="file-container">
            <div>
              <mat-icon *ngIf="displayFile.isImage">photo</mat-icon>
              <mat-icon *ngIf="!displayFile.isImage"
                >insert_drive_file</mat-icon
              >
              <span
                class="file-name"
                [matTooltip]="displayFile.fileName"
                matTooltipPosition="below"
              >
                {{ displayFile.fileName | truncate: 15 }}
              </span>
            </div>
            <div class="file-context-buttons">
              <button
                (click)="editFileTitle(displayFile._id)"
                mat-icon-button
                matTooltip="Rename"
                matTooltipPosition="below"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="deleteFile(displayFile._id)"
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="below"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider *ngIf="displayFiles.length > 0"></mat-divider>
      <div id="files-hint">
        {{
          displayFiles.length > 0
            ? "Hover over a file to rename or delete"
            : "Upload files to view them here"
        }}
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <ngx-codemirror
        #editor
        [(ngModel)]="latex"
        [options]="{
          lineNumbers: 'true',
          mode: 'stex',
          theme: 'material',
          lineWrapping: 'true',
          showCursorWhenSelecting: 'true'
        }"
        [autoFocus]="true"
      ></ngx-codemirror>
      <div id="output-container">
        <div id="output-context-buttons">
          <div>
            <button mat-flat-button color="accent">
              <mat-icon>cached</mat-icon>
              Compile
            </button>
            <mat-checkbox id="auto-compile-checkbox">Auto compile</mat-checkbox>
          </div>
          <button
            mat-icon-button
            matTooltip="Download PDF"
            matTooltipPosition="below"
          >
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
        <object
          id="output-pdf"
          data="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
          type="application/pdf"
        ></object>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
