<div id="sign-up-container">
  <h1>Sign Up</h1>
  <form #form="ngForm" id="sign-up-form" (ngSubmit)="signUp(form)">
    <mat-form-field class="full-width">
      <input matInput name="username" required placeholder="Username" ngModel />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        type="password"
        name="password"
        required
        placeholder="Password"
        ngModel
      />
    </mat-form-field>

    <button
      mat-stroked-button
      color="primary"
      class="full-width"
      [disabled]="loading || form.invalid"
    >
      Sign Up
    </button>
  </form>
</div>
