mat-sidenav-container {
  width: 100%;
  height: 100%;
  padding-top: 64px;
}

mat-sidenav {
  width: 300px;
  padding-top: 64px;
  background-color: #2f3c83;
  color: white;
  /* display: flex;
  flex-direction: column; */
}

#file-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293680;
}

#title {
  font-size: large;
  padding-left: 16px;
}

::ng-deep mat-sidenav .mat-list-item-content {
  padding-right: 0 !important;
}

.file-name {
  padding-left: 0.5rem;
}

.file-container {
  width: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.file-container > div {
  display: flex;
  align-items: center;
}

.file-container:hover > .file-context-buttons {
  visibility: visible;
}

.file-context-buttons {
  visibility: hidden;
}

#files-hint,
#live-collaborators-hint {
  margin: 0.5rem auto 0 auto;
  font-size: small;
  color: rgba(255, 255, 255, 0.4);
  width: max-content;
  user-select: none;
}

#live-collaborators-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: stretch;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

#live-collaborators {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

#live-collaborators mat-icon {
  cursor: default;
}

mat-icon.red {
  color: red;
}

mat-icon.orange {
  color: orange;
}

mat-icon.green {
  color: green;
}

mat-icon.violet {
  color: violet;
}

mat-icon.yellow {
  color: yellow;
}

mat-icon.darkcyan {
  color: darkcyan;
}

mat-icon.salmon {
  color: salmon;
}

mat-icon.lightblue {
  color: lightblue;
}

mat-icon.springgreen {
  color: springgreen;
}

mat-icon.white {
  color: white;
}

mat-sidenav-content > div {
  display: flex;
  height: 100%;
}

#progress-spinner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #263238;
  color: white;
}

ngx-codemirror {
  width: 50%;
}

#main-hint {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.15);
  background-color: #263238;
  user-select: none;
}

#output-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#output-context-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293680;
  color: white;
}

#auto-compile-checkbox {
  margin-left: 1rem;
}

::ng-deep #auto-compile-checkbox .mat-checkbox-frame {
  border-color: white;
}

ng2-pdfjs-viewer {
  height: 100%;
}

::ng-deep ng2-pdfjs-viewer > iframe {
  border: none;
}

#error-container {
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  background-color: #c9453e;
  color: white;
  font-weight: 500;
}

#error-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}

#main-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

#main-error > * {
  margin-bottom: 1rem;
}
