<h1 mat-dialog-title>Upload Files</h1>
<div id="upload-container">
  <button
    mat-stroked-button
    (click)="input.click()"
    color="primary"
    class="full-width"
  >
    <span>{{ inputLabel | truncate: [35] }}</span>
    <input
      class="full-width"
      #input
      type="file"
      (change)="handleInput($event.target.files)"
      multiple
      accept=".png,.jpg,.jpeg,.tex,.latex,.fd,.bst,.brf,.cls,.dtx"
      required
    />
  </button>

  <button
    mat-flat-button
    (click)="uploadFiles()"
    color="primary"
    [disabled]="filesToUpload.length == 0"
  >
    Upload
  </button>
</div>
