<div id="upload-container">
  <button
    mat-stroked-button
    (click)="input.click()"
    color="primary"
    id="choose-files-button"
  >
    <span>{{ inputLabel | truncate: [25] }}</span>
    <input
      #input
      type="file"
      (change)="handleInput($event.target.files)"
      multiple
      accept=".png,.jpg,.jpeg,.tex,.latex,.fd,.bst,.brf,.cls,.dtx"
      required
    />
  </button>

  <button
    mat-flat-button
    (click)="uploadFiles()"
    color="primary"
    [disabled]="filesToUpload.length == 0"
  >
    Upload
  </button>
</div>
