#toolbar {
  position: fixed;
  z-index: 999;
}

#toolbar > mat-toolbar-row {
  box-sizing: unset;
}

#toolbar-title {
  text-decoration: none;
  color: white;
}

#spacer {
  flex: 1 1 auto;
}

mat-toolbar-row > button {
  margin: 12px;
}

mat-toolbar-row > button:last-of-type {
  margin-right: 36px;
}

@media (max-width: 768px) and (min-width: 250px) {
  #toolbar-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
