#toolbar {
  position: fixed;
  z-index: 999;
}

#toolbar > mat-toolbar-row {
  box-sizing: unset;
}

#toolbar-title {
  text-decoration: none;
  color: white;
}

mat-toolbar-row {
  height: 64px !important;
  display: flex;
  justify-content: space-between;
}

#context-buttons {
  margin-right: 36px;
}

#context-buttons > button {
  margin: 6px;
}

.mat-toolbar-multiple-rows {
  line-height: 64px !important;
}
