#toolbar {
  position: fixed;
  z-index: 999;
}

#toolbar > mat-toolbar-row {
  box-sizing: unset;
}

#toolbar-title {
  text-decoration: none;
  color: white;
}

#spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  height: 64px !important;
}

mat-toolbar-row > button {
  margin: 12px;
}

mat-toolbar-row > button:last-of-type {
  margin-right: 36px;
}

.mat-toolbar-multiple-rows {
  line-height: 64px !important;
}
