<h1 mat-dialog-title>New Project</h1>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        #titleInput
        name="title"
        placeholder="Project title"
        required
        maxlength="50"
        autocomplete="off"
        ngModel
      />
      <mat-hint align="end">{{ titleInput.value.length }} / 50</mat-hint>
    </mat-form-field>
    <h2>Template:</h2>
    <mat-radio-group
      class="template-group"
      name="selectedTemplate"
      [(ngModel)]="selectedTemplate"
    >
      <mat-radio-button
        class="template-buttons"
        *ngFor="let option of template"
        [value]="option.title"
        [checked]="option.checked"
      >
        {{option.title}}
      </mat-radio-button>
    </mat-radio-group>
    {{selectedTemplate}}
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      Create
    </button>
  </div>
</form>
