<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div id="sidenav-buttons">
      <button mat-raised-button (click)="openNewProjectDialog()" color="accent">
        New Project
      </button>
      <button mat-button (click)="filterByAllProjects()">All projects</button>
      <button mat-button (click)="filterByYourProjects()">Your projects</button>
      <button mat-button (click)="filterByProjectsSharedWithYou()">
        Projects shared with you
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-form-field id="search-field">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix style="vertical-align: middle">search</mat-icon>
      <input matInput (keyup)="applySearch($event)" />
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Title</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <a class="link" routerLink="./{{ row._id }}">{{ row.title }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Owner</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          {{ row.owner === currentUsername ? "You" : row.owner }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastUpdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Last Updated</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <span
            matTooltip="{{ row.lastUpdated | date: 'MMM d, y, h:mm a' }}"
            matTooltipPosition="above"
          >
            {{ row.lastUpdated | timeAgo }} by
            {{
              row.lastUpdatedBy === currentUsername ? "You" : row.lastUpdatedBy
            }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            matTooltip="Download"
            matTooltipPosition="above"
          >
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openDeleteProjectDialog(row._id, row.title)"
            matTooltip="Delete"
            matTooltipPosition="above"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>
