<h2 mat-dialog-title>Download</h2>
<div id="download-container">
  <div>
    <button mat-button (click)="downloadAllFiles()">
      <img class="download-icon" src="/assets/zip.png" />
      Source
    </button>
  </div>
  <div>
    <button mat-button (click)="downloadPdfFile()">
      <img class="download-icon" src="/assets/pdf.png" />
      PDF
    </button>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
