.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 64px;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #eee;
}

.sidenav-title{
  text-align: center;
  margin-top: 10px;
}

.main-title{
  margin-left: 10px;
  margin-top: 10px;
}


table {
  width: 1000px;
}

button {
    width: 100%;
}

.table_btn{
  width: auto;
}

.table_header{
text-align: center;
}

.table_text1{
width: 500px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.table_text2{
width: 100px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.column-header4{
  margin-left: 25px;
}