<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="example-sidenav">
        <div class="mat-title">
            Options
        </div>
        <div class="mat-subheading-1">
            <button mat-button>p1</button>
            <button mat-button>p2</button>
            <button mat-button>p3</button>

        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="mat-subheading-1">Projects</div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-sidenav-content>
</mat-sidenav-container>