<div id="home-video">
  <video autoplay muted loop>
    <source src="../../../../assets/home-video.mp4" type="video/mp4" />
  </video>
</div>
<div id="home-overlay">
  <div>
    <span style="font-size: xx-large; font-weight: bold;">
      Welcome to LaTeX Editor
    </span>
  </div>
  <div style="margin-top: 0.5rem;">
    <span>
      A place to collaborate and edit LaTeX files
    </span>
  </div>
  <!-- <div id="links">
    <a mat-flat-button routerLink="/login">
      <mat-icon mat-list-icon>
        vpn_key
      </mat-icon>
      Sign up
    </a>
  </div> -->
</div>
